  .filterGallery {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .filters {
    text-align: center;
    margin-bottom: 20px;
  }

  .filter-btn {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1.5%;
    margin-right: 1.5%;
  }

  .images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    grid-auto-flow: dense
  }
  
  .image {
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }
  
  .image img {
    width: 100%;
    height: 100%; /* Change this to fill the container */
    object-fit: cover; /* Ensure the image covers the area without distortion */
    display: block;
  }
  
  .image:hover {
    transform: scale(1.02);
  }

@media (max-width: 600px) {
  .filterGallery {
    margin-left: 5%;
    margin-right: 5%;
  }

  .images {
      grid-template-columns: repeat(3, 1fr); /* 3 columns on mobile */
  }
}

.filterGallery .images {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); */
    gap: 10px;
}

@media (max-width: 600px) {
    .filterGallery .images {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
}