.zoom-on-hover {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease, filter 0.3s ease;
  transform: scale(1);
}

.zoom-on-hover:hover {
  transform: scale(1.1); /* slightly zoom in */
  filter: brightness(1.05); /* optional: make it pop */
}

.thumbs {
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  width:100%;
  padding: none;
  > a {
    min-width: 20%;
    max-width: 30%;
    margin-left: .5%;
    margin-right: .5%;
    margin-bottom: 1%;
    overflow:hidden;
    box-shadow:0 0 0 3px white, 0 5px 8px 3px rgba(black, 0.6);
    img {
      transform:scale(1);
      transition:transform 0.1s ease-in-out;
      filter:grayscale(50%);
      min-width:100%;
      min-height:100%;
      max-width:100%;
      max-height:100%;
      object-fit: cover;
    }
    &:hover {
      img {
        transform:scale(1.1);
        filter:grayscale(0%);
      }
    }
  }
}

.lightbox {
  position:fixed;
  background:rgba(black,0.5);
  background-color: white;
  backdrop-filter:blur(10px);
  -webkit-backdrop-filter: blur(10px);
  height:100%;
  width:100%;
  left:0;
  top:0;
  transform:translateY(-100%);
  opacity:0;
  transition:opacity 0.5s ease-in-out;
  z-index: 1001;
  &:has(div:target) {
    transform:translateY(0%);
    opacity:1;
  }
  a.nav {
    text-decoration:none;
    color:black;
    font-size:40px;
    text-shadow:0 2px 2px rgba(black,0.8);
    opacity:0.5;
    font-weight:200;
    z-index: 2000;
    &:hover {
      opacity:1;
    }
  }
  .target {
    position:absolute;
    height:100%;
    width:100%;
    display:flex;
    transform:scale(0);
    align-items:center;
    justify-content:space-between;
    *:first-child,*:last-child {
      flex:0 0 100px;
      text-align:center;
      @media all and (max-width:600px){
        flex:0 0 50px;
      }
    }
    .content {
      transform:scale(0.9);
      opacity:0;
      /* CHANGED HERE */
      /* flex:1 1 auto; */
      align-self: center;
      max-height:100%;
      min-height:0;
      max-width:calc(100% - 200px);
      min-width:0;
      border-radius:0px;
      overflow:hidden;
      box-shadow:0 0 0 3px white, 0 5px 8px 3px rgba(black, 0.6);
      transition:transform 0.25s ease-in-out,opacity 0.25s ease-in-out;
      img {
        min-width:100%;
        min-height:100%;
        max-width:100%;
        max-height:calc(100vh - 40px);
        display:block;
        margin:0;
      }
    }
    &:target {
      transform:scale(1);
      .content {
        transform:scale(1);
        opacity:1;
      }
    }
  }
  .close {
    position:absolute;
    right:10px;
    top:10px;
    z-index: 2000;
  }
}